.main{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}
.user-form{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 30px;
    border: solid 1px;
    box-shadow: 0 0 2px 0px #00000051;
    border-radius: 6px;
    margin: auto;
}
.user-email, .user-name, .user-password{
    display: flex;
    flex-direction: column;
}
.user-email label, .user-name label, .user-password label{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}
.user-email input[type="email"], .user-name input[type="text"], .user-password input[type="password"]{
    font-size: 18px;
    padding :10px 13px;
    border: solid 0.5px rgba(0, 0, 0, 0.254);
    outline: none;
    border-radius: 6px;
}
.user-form button{
    border: none;
    outline: none;
    color: white;
    background: green;
    font-size: 18px;
    font-weight: 500;
    padding: 14px 15px;
    border-radius: 6px;
    cursor: pointer;
}

@media (width< 768px) {
    .user-form{
        width: 90%;
    }
}